@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    background-color:hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}

img{
border-radius: 80%;
max-width: 100px;
max-height: 100px;
}

/*name*/
h1{
font-size: 1.5rem;
font-family: "Inter-Bold", sans-serif ;
color: hsl(0, 0%, 100%);
}

h2{
    font-size: 1rem;
    color: hsl(75, 94%, 57%);
    font-weight: 500;
}

p{
    font-size: 1rem;
    color: lightgrey;
    font-weight: 400;
}

button{
    font-family: "Inter Semi-Bold", sans-serif;
font-size: 1 rem;
font-weight: 600;
color: white;
background-color: black;
}

.attribution{
color: white;
}