
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


@font-face {
  font-family:"Inter" ;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('woff2');
  src:url(/assets/fonts/static/Inter-Bold.ttf);
  src: url(assets/fonts/static/Inter-Regular.ttf);
  src: url(assets/fonts/static/Inter-SemiBold.ttf);
}

html{
  background-color:hsl(0, 0%, 8%);
  font-family: "Inter";
}


img{
border-radius: 80%;
max-width: 100px;
max-height: 100px;
width: 100%;
}

/*name*/
h1{
font-size: 1.5rem;
font-weight: 700;
font-family: "Inter-Bold", sans-serif ;
color: hsl(0, 0%, 100%);
}

h2{
    font-size: 1rem;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

p{
  font-size: 0.875rem;
  color: lightgrey;
  font-weight: 400;
  padding-bottom: 15px;
  padding-top: 5px;
}
/*button styling*/
.button1, .button2, .button3, .button4, .button5{
font-family: "Inter Semi-Bold", sans-serif;
font-size: 0.875rem;
font-weight: 600;
color: white;
background-color: hsl(0, 0%, 20%);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
border-radius: 6px;
border: none;
padding: 8px;
margin: 1px;
}

/*card styling*/
main{
  min-width: 375px;
  max-width: 1440px;
  max-height: 650px;
  border: 1px;
  padding: 40px;
  margin: 30px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
}

/*center card*/
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/*flex container for img,h1 and h2*/
header{
display: flex;
align-items: center;
flex-direction: column;
}
/*flex container for buttons*/
section{
display: flex;
flex-direction: column;
align-items: stretch;
gap: 10px;
}


/*footer*/
.attribution{
color: white;
}

/*links for buttons*/
.button1, .button2, .button3, .button4, .button5{
  text-decoration:none;

/*BUTTON STATES*/
}
.button1:hover {
  background-color: hsl(75, 94%, 57%) ;
  color: black;
  }

.button2:hover {
  background-color: hsl(75, 94%, 57%) ;
  color: black;
  }
 
.button3:hover {
  background-color: hsl(75, 94%, 57%) ;
  color: black;
  }


.button4:hover {
  background-color: hsl(75, 94%, 57%) ;
  color: black;
  }
.button5:hover {
background-color: hsl(75, 94%, 57%) ;
color: black;
}


